::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ddd; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #999; }

body {
  margin-top: 50px; }

.navbar-default {
  background-color: #45aeea;
  border-color: #45aeea; }
  .navbar-default,
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-brand {
    color: #fff; }
  .navbar-default .navbar-brand {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }

.col {
  position: fixed;
  top: 50px;
  bottom: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */ }

.col-header {
  top: 0;
  position: sticky;
  z-index: 1100; }

.col-sidebar {
  background-color: #191919;
  color: #eee; }
  .col-sidebar .col-header {
    background-color: #2f4050; }

.col-secondary-sidebar {
  background-color: #fff; }
  .col-secondary-sidebar .col-header {
    background-color: #f5f5f5; }

.col-main-content {
  background-color: #fff; }
  .col-main-content .col-header {
    background-color: #f5f5f5; }

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px; }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px; }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca; }

.col-secondary-sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee; }
  .col-secondary-sidebar .list-categories {
    border-top: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none; }
    .col-secondary-sidebar .list-categories .list-group-item {
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0; }
    .col-secondary-sidebar .list-categories .list-group-item:first-of-type {
      border-top-width: 0; }
  .col-secondary-sidebar .btn-toolbar {
    padding: 20px 0; }

.col-main-content .col-header {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px; }
  .col-main-content .col-header .gist-name {
    margin: 0;
    text-shadow: 1px 1px 0 white; }

.col-main-content .col-body {
  padding-top: 20px; }

.col-main-content .gist-meta {
  margin-top: 15px; }

.col-main-content pre {
  border: none; }
